html {
    min-height: 100vh;
    overflow-x: hidden;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    color: white;
    flex: 1 1 auto;
}
.main-container {
    background-color: #282c34;
}